.h1 {
  color: inherit;
  margin: 0;
  font-family: inherit;
  display: block;
  font-size: 2em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.h2 {
  color: inherit;
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  margin: 0;
  font-family: inherit;
}

.h3 {
  color: inherit;
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  margin: 0;
  font-family: inherit;
}

.h4 {
  color: inherit;
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  margin: 0;
  font-family: inherit;
}

.h5 {
  color: inherit;
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  margin: 0;
  font-family: inherit;
}

.h6 {
  color: inherit;
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  margin: 0;
  font-family: inherit;
}

.indent {
  --lexical-indent-base-value: 40px;
}

.textBold {
  font-weight: bold;
  color: inherit;
  margin: 0;
  font-family: inherit;
}

.textItalic {
  font-style: italic;
  font-size: inherit;
  color: inherit;
  margin: 0;
  font-family: inherit;
}

.textUnderline {
  text-decoration: underline;
  font-size: inherit;
  color: inherit;
  margin: 0;
  font-family: inherit;
}

.link {
  color: rgb(33, 111, 219);
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  font-family: inherit;
}

.link span {
  color: rgb(33, 111, 219);
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  font-family: inherit;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.ol1 {
  padding: 0;
  margin: 0;
  list-style-position: outside;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  margin: 0;
}

.ol2 {
  padding: 0;
  margin: 0;
  list-style-type: upper-alpha;
  list-style-position: outside;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  margin: 0;
}

.ol3 {
  padding: 0;
  margin: 0;
  list-style-type: lower-alpha;
  list-style-position: outside;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  margin: 0;
}

.ol4 {
  padding: 0;
  margin: 0;
  list-style-type: upper-roman;
  list-style-position: outside;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  margin: 0;
}

.ol5 {
  padding: 0;
  margin: 0;
  list-style-type: lower-roman;
  list-style-position: outside;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  margin: 0;
}

.ul {
  padding: 0;
  margin: 0;
  list-style-position: outside;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  margin: 0;
}

.listItem {
  margin: 0 32px;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.listItemChecked,
.listItemUnchecked {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 24px;
  padding-right: 24px;
  list-style-type: none;
  outline: none;
}

.listItemChecked {
  text-decoration: line-through;
}

.listItemUnchecked:before,
.listItemChecked:before {
  content: '';
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
  cursor: pointer;
  display: block;
  background-size: cover;
  position: absolute;
}

.listItemUnchecked[dir='rtl']:before,
.listItemChecked[dir='rtl']:before {
  left: auto;
  right: 0;
}

.listItemUnchecked:focus:before,
.listItemChecked:focus:before {
  box-shadow: 0 0 0 2px #a6cdfe;
  border-radius: 2px;
}

.listItemUnchecked:before {
  border: 1px solid #999;
  border-radius: 2px;
}

.listItemChecked:before {
  border: 1px solid rgb(61, 135, 245);
  border-radius: 2px;
  background-color: #3d87f5;
  background-repeat: no-repeat;
}

.listItemChecked:after {
  content: '';
  cursor: pointer;
  border-color: #fff;
  border-style: solid;
  position: absolute;
  display: block;
  top: 6px;
  width: 3px;
  left: 7px;
  right: 7px;
  height: 6px;
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
}

.nestedListItem {
  list-style-type: none;
}

.nestedListItem:before,
.nestedListItem:after {
  display: none;
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.tw-lp-paragraph {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  margin: 0;
  font-family: inherit;
}

.tw-lp-paragraph span {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  margin: 0;
  font-family: inherit;
}
